{% extends 'base.html' %}
{% block content %}


<h1>Pokemon Details</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ pokemon.name }}</span>
        <p>{{ pokemon.nickname }}</p>
        <p>Type: {{ pokemon.e_type }}</p>
        <p>Description: {{ pokemon.description }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'pokemon_update' pokemon.id %}">Edit</a>
        <a href="{% url 'pokemon_delete' pokemon.id %}">Delete</a>
      </div>
    </div>
  </div>
  
  <div class="col s6">
    <form action="{% url 'add_feeding' pokemon.id %}" method="post">
      {% csrf_token %}
      {{ feeding_form.as_p }}
      <input type="submit" class="btn" value="Add Feeding">
    </form>
    <br>
    {% if pokemon.fed_for_today %}
      <div class="card-panel teal-text center-align">{{pokemon.name}} has been fed all meals for today</div>
    {% else %}
      <div class="card-panel red-text center-align">{{pokemon.name}} might be hungry</div>
    {% endif %}
 
    <table class="striped">
      <thead>
        <tr><th>Date</th><th>Meal</th></tr>
      </thead>
      <tbody>
        {% for feeding in pokemon.feeding_set.all %}
          <tr>
            <td>{{feeding.date}}</td>
            <td>{{feeding.get_meal_display}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col s6">
    {% for photo in pokemon.photo_set.all %}
      <img class="responsive-img card-panel" src="{{photo.url}}">
    {% empty %}
      <div class="card-panel teal-text center-align">No Photos Uploaded</div>
    {% endfor %}

    <form action="{% url 'add_photo' pokemon.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
      {% csrf_token %}
      <input type="file" name="photo-file">
      <br><br>
      <input type="submit" class="btn" value="Upload Photo">
    </form>
  </div>
</div>

<hr>
<div class="row">
  <div class="col s6">
    <h3>{{ pokemon.name }}'s Moves</h3>
    {% if pokemon.moves.count %}
      {% for move in pokemon.moves.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              {{ move.name }}
            </span>
          </div>
          <div class="card-action">
            <form action="{% url 'unassoc_move' pokemon.id move.id %}" method="post">
                {% csrf_token %}
              <button type="submit" class="btn">Remove</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>{{ pokemon.name }} doesn't know any moves!</h5>
    {% endif %}
  </div>

  <div class="col s6">
    <h3>Available Moves</h3>
    {% if moves.count %}
      {% for move in moves.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              {{ move.name }}
            </span>
          </div>
          <div class="card-action">
            <form action="{% url 'assoc_move' pokemon.id move.id %}" method="post">
                {% csrf_token %}
              <button type="submit" class="btn">Add</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>{{pokemon.name}} Already Has All Moves Available</h5>
    {% endif %}
  </div>
</div>



<script>
  const dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });

  // add additional JS to initialize select below
  const selectEl = document.getElementById('id_meal');
  M.FormSelect.init(selectEl);
</script>

{% endblock %}

